

body {
    background-color: rgb(186, 114  , 224);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;

}
body img{
    width: 135%;
    /* height: 100rem;  */
    height: 50rem; 
}
